# Introduction

Documentation of Resources and Models for Kubernetes {{version}} to be used with
[lightkube](https://github.com/gtsystem/lightkube).

## Table of content

* [Models](models/index.md)
* [Resources](resources/index.md)

Back to lightkube [documentation](https://lightkube.readthedocs.io/)
