# All resources

{% macro link(text, name) -%}
[{{ text }}]({{ text }}.md#{{ name | lower }})
{%- endmacro %}

Resource name | Available versions |
|---|---|
{% for name, modules in resources_to_opts %}
|{{name}} |{% for mod in modules %}{{link(mod, name)}}{{ ", " if not loop.last }}{% endfor %}|
{% endfor %}
